@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Jost', sans-serif;
}

header{
  background-image: linear-gradient(to bottom, transparent, transparent),url(/dar.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  position: relative;
}
.header p{
  font-size: 20px;
}
#wha{
  background-color: #198754;
}
h1{
  font-size: 30px;
  font-weight: 800;
  color: #000;
  letter-spacing: 5px;
}
p i{font-size: 100px;}

.kad{
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 #e7e7e7;
  }
  .kad-2{
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 #0009;
  position: relative;
  transition: 0.5s;
  }
  
  /* styles/globals.css or inline styles */
.swiper {
  border-radius: 10px;
  overflow: hidden;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: #d1e7dd;
  color: #0f5132;
}

.whatsapp-float {
  animation: shake 2.5s infinite;
}

@keyframes shake {
  0% { transform: translate(0px, 0px); }
  25% { transform: translate(2px, -2px); }
  50% { transform: translate(-2px, 2px); }
  75% { transform: translate(2px, -2px); }
  100% { transform: translate(0px, 0px); }
}
.bxx { z-index: 1050 }